use Mix.Config

config :plug,
  facebook_id: "your_fb_id"
  # to obtain facebook_id:
  # 1. start server `mix phx.server`
  # 2. log in
  # 3. open `iex -S mix` in terminal
  # 4. run `SonderApi.Accounts.list_users`